:host {
    display: flex;
    height: 100dvh;
}

aside {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 1rem;
    background-color: #f5f5f5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

main {
    width: 100%;
}
